---
import Link from "../Link.astro";
---

<div class="flex mt-auto ml-auto text-xl gap-4">
  <Link href="https://github.com/DevWaterdrop/nx-ecommerce" external>
    Github
  </Link>
  <Link href="https://nx-ecommerce.waterdrop.dev" external>Site Preview</Link>
</div>
