---
import Bottom from './Bottom.astro';
import Features from './Features.astro';
import Stack from './Stack.astro';
import Link from '../Link.astro';
import Conveyor from './Conveyor.astro';
---

<section id="demo" class="bg-beige relative">
  <div
    class="flex mx-auto h-[40rem] w-full max-w-screen-2xl px-6 gap-[5%] justify-center sm:px-12"
  >
    <div
      class="flex flex-col h-full flex-1 py-12 z-10 relative sm:w-2/5 md:w-[45%]"
    >
      <h2 class="font-bold text-3xl capitalize md:text-4xl">E-commerce</h2>
      <p class="mt-2 text-lg sm:text-xl lg:text-2xl">
        Monorepo, Full-stack application
      </p>
      <Link
        classes="text-base sm:text-lg w-fit"
        href="https://github.com/DevWaterdrop/nx-ecommerce#readme"
        external
      >
        Full Description / README
      </Link>
      <Features />
      <Stack />
      <Bottom />
    </div>
    <Conveyor />
  </div>
</section>
