<h3 class="font-bold mt-4 text-2xl md:text-3xl">Features</h3>
<ul class="flex flex-col mt-2 text-lg gap-0.5 sm:text-xl lg:text-2xl">
  <li>Cart, favorites logic <small>("Jotai")</small></li>
  <li>"Authentication" <small>(back-end, cookies)</small></li>
  <li>Search <small>(query string)</small></li>
  <li>Checkout/orders logic</li>
</ul>

<style>
  li::before {
    content: '- ';
    user-select: none;
    pointer-events: none;
  }
</style>
