---
import clsx from 'clsx';

interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props as Props;

const captionClass = clsx(
  'absolute w-max px-2 bottom-[calc(100%+0.25rem)]',
  'bg-black rounded-full opacity-0',
  'text-white',
  'transition-opacity duration-150 pointer-events-none select-none',
  'group-hover:opacity-100'
);
---

<li class="group">
  <figure
    class="flex h-8 w-8 relative items-center justify-center xs:h-10 xs:w-10"
  >
    <img class="h-full w-full" src={src} alt="" />
    <figcaption class={captionClass}>
      {alt}
    </figcaption>
  </figure>
</li>
