---
import Icon from "./Icon.astro";
---

<h3 class="font-bold mt-4 text-2xl md:text-3xl">Stack</h3>
<ul class="flex flex-wrap mt-2 gap-2">
  <Icon src="./icons/stack/nx.svg" alt="NX" />
  <Icon src="./icons/stack/typescript.svg" alt="Typescript" />
  <Icon src="./icons/stack/cypress.svg" alt="Cypress" />
</ul>
<ul class="flex flex-wrap mt-2 gap-2">
  <Icon src="./icons/stack/nextdotjs.svg" alt="Next.js" />
  <Icon src="./icons/stack/jotai.svg" alt="Jotai" />
  <Icon src="./icons/stack/reactquery.svg" alt="React Query" />
  <Icon src="./icons/stack/windicss.svg" alt="WindiCSS / Tailwind" />
  <Icon src="./icons/stack/storybook.svg" alt="Storybook" />
  <Icon src="./icons/stack/testinglibrary.svg" alt="React Testing Library" />
</ul>
<ul class="flex flex-wrap mt-2 gap-2">
  <Icon src="./icons/stack/strapi.svg" alt="Strapi" />
  <Icon src="./icons/stack/postgresql.svg" alt="PostgreSQL" />
  <Icon src="./icons/stack/graphql.svg" alt="GraphQL" />
  <Icon src="./icons/stack/docker.svg" alt="Docker" />
</ul>
