---
import Demo from '../components/Demo.astro';
import Footer from '../components/Footer.astro';
import Gap from '../components/Gap.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import ButtonToDemo from '../components/ButtonToDemo.astro';
---

<Layout>
  <Header />
  <main class="flex flex-col flex-1 min-h-[min(100vh,60rem)]">
    <Hero />
    <ButtonToDemo />
    <Gap />
    <Demo />
  </main>
  <Footer />
</Layout>
