---
import Footer from '../components/Footer.astro';
import Gap from '../components/Gap.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Header />
  <main class="flex flex-col flex-1">
    <Hero />
    <Gap />
  </main>
  <Footer />
</Layout>
