---
import Link from "./Link.astro";
---

<footer class="bg-footer text-white w-full relative">
  <dav class="flex flex-col mx-auto max-w-screen-2xl p-8 gap-12 sm:p-12">
    <div class="flex flex-col flex-wrap text-base w-full gap-12 justify-between sm:flex-row">
      <div class="sm:w-1/2">
        <h3>Location</h3>
        <p>
          <b>Current:</b> Leipzig, Germany
        </p>
        <p>
          <b>Before war:</b> Odesa, Ukraine
        </p>
      </div>
      <ul class="flex flex-wrap gap-4 justify-between sm:gap-8">
        <li>
          <h3>Email</h3>
          <Link href="mailto: dev.waterdrop@gmail.com">
          dev.waterdrop@gmail.com
          </Link>
        </li>
        <li>
          <h3>Github</h3>
          <Link href="https://github.com/DevWaterdrop" external>
          DevWaterdrop
          </Link>
        </li>
      </ul>
    </div>
    <div class="flex justify-between items-center">
      <span class="text-sm opacity-[0.55] pointer-events-none select-none">STOP WAR</span>
      <Link href="https://github.com/DevWaterdrop/astro-personal" classes="capitalize" external>
      Site repository
      </Link>
    </div>
  </dav>
</footer>