---
import Line from "./Line.astro";

interface Props {
  href: string;
  className?: string;
}

const { className, href } = Astro.props;
---

<Line className={className}>
  <a href={href} target="_blank" rel="noreferrer">
    <slot />
  </a>
</Line>

<style lang="scss" is:global>
  .line-wrapper:has(a) {
    text-decoration-line: underline;
    text-decoration-color: transparent;

    .typewriter {
      &::after {
        text-decoration-line: underline;
      }
    }
  }
</style>
