@use "sass:string";
@use "sass:map";
@use "sass:list";
@use "./typewriter.scss" as *;

$lines:
  "Kostiantyn Hurevych", "I am an Ukrainian software engineer",
  "Passionate about solving problems and building intuitive web applications",
  "Ready to learn & improve", "Current job: Meyer Sound",
  "- Second: Meetergo GmbH", "- First: Halo Lab - Digital Agency",
  "Languages: English, Ukrainian, Russian",
  "Education: Bachelor of Software Engineering";

$actions: "Email: dev.waterdrop@gmail.com", "Github: DevWaterdrop";

$ps: "Pure CSS, 0 JavaScript";

$merged: list.join(list.join($lines, $actions, comma), $ps, comma);
$merged-map: ();

@for $i from 1 through list.length($merged) {
  $title: list.nth($merged, $i);
  $key: string.unquote("line#{$i}");
  $entry: (
    title: $title,
    keyframe: $key,
    duration: get-total-duration($title),
  );
  $merged-map: map.merge(
    $merged-map,
    (
      $i: $entry,
    )
  );
}
